<div class="panel">
  <div class="panel-body">
    <div class="input-group">
      <span class="input-group-addon" id="basic-addon1"><i class="glyphicon glyphicon-pencil"></i></span>
      <input type="text" class="form-control" placeholder="Enter your wail, so you may be heard!"
             aria-describedby="basic-addon1" ng-model="newWail">
      <span class="input-group-btn">
        <button id="publishButton" class="btn btn-primary" type="button" ng-click="pushWail()">Publish</button>
      </span>
    </div>

  </div>
</div>

<div id="wails" ng-repeat="wail in wails">
  <div class="panel panel-info">
    <div class="panel-heading">{{wail.name}} @ {{wail.timestamp | date: 'd/MMMM/yyyy - HH:mm:ss'}}</div>
    <div class="panel-body">{{wail.text}}</div>
  </div>

</div>


